table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
    padding:5px;
    vertical-align:top;
}
.items td {border-bottom:none;border-top:none;height:10px;}
.total_items td {border-bottom:none;font-weight:bold;font-size:11px;}
.total_items_style td {font-weight:bold;font-size:11px;}
.topnone {border-top:none !important;}
.items {height:20px;}
.right {text-align:right !important;}
p {text-align:center;font-size:11px;}
.title {font-weight:bold;}
.title span {font-weight:normal;}
.reduce_height td {line-height:0px;}
